

html, body, #menubar, #chat_area { 
	height: 100%;
	margin: 0;
}

#menubar {
	width: 20px;
	float: left;
	background-color: red;
}



#chat_area {
	position: relative;
	overflow: auto;
	margin: 0;
	background-color: green;
	
	#chat, #new_chat {
		margin-left: 5px;
	}

	#chat {
		margin-top: 5px;
		position: absolute;
		width: 90%;
		top: 0;
		bottom: 40px;	
	}

	#new_chat {
		position: absolute;
		width: 90%;
		height: 20px;
		bottom: 0px;
		margin-bottom: 10px;
		overflow: auto;
	}
}

.room_users {
	float: right;
	height: 100%;
	width: 80px;
	background-color: grey;
	border: 1px solid black;
}

#login-buttons {
	right: 250px;
	z-index: 10;
}

div#chat {
	overflow: auto;
	border: 1px solid pink;
	top: 0px;
	bottom: 50px;
	width: 90%;
	div.line {
		div {
			float: left;
			padding-right: 5px;
			
		}
		.timestamp {
			color: purple;
		}
		.text {
				color: red;
		}
		.name {
			color: blue;
			border-right: 1px solid black;
		}
	
		clear: both;
	}
}

.textbutton {
	margin: 5px;
	padding: 3px;
	border: 1px solid black;
	float: left;
	clear: both;
}
