
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


@mixin no-select() {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}


html, body, #menubar,  { 
	height: 100%;
	margin: 0;
}

#menubar {
	width: 20px;
	float: left;
	background-color: red;
	
	&.expanded {
		width: 100px;
	}
	.textbutton {
		div {
			display: inline-block;
		}
		&.active {
			border: 3px solid black;
		}
	}
}


.room {
	height: 100%;
	position: relative;
	overflow: auto;
	margin: 0;
	background-color: green;
	display: none;
	
	&.active {
		display: block;
	}
	
	.chat, .new_chat {
		margin-left: 5px;
	}

	.chat {
		border: 1px solid black;
		margin-top: 5px;
		position: absolute;
		width: 90%;
		top: 0;
		bottom: 40px;	
	}

	.new_chat {
		position: absolute;
		width: 90%;
		height: 20px;
		bottom: 0px;
		margin-bottom: 10px;
		overflow: auto;
	}
}

.room_users {
	float: right;
	height: 100%;
	width: 80px;
	background-color: grey;
	border: 1px solid black;
}

#login-buttons {
	right: 250px;
	z-index: 10;
}

div.chat {
	overflow: auto;
	top: 0px;
	bottom: 50px;
	width: 90%;
	div.line {
		div {
			float: left;
			padding-right: 5px;
			
		}
		.timestamp {
			color: purple;
		}
		.text {
				color: red;
		}
		.name {
			color: blue;
			border-right: 1px solid black;
		}
	
		clear: both;
	}
}

.textbutton {
	margin: 5px;
	padding: 3px;
	border: 1px solid black;
	float: left;
	clear: both;
	cursor: pointer;
	@include no-select;
	@include border-radius(5px);
	background-color: grey;
	
	&:hover {
		background-color: white;
	}
}
